.party-mode {
    padding: 20px;
    position: absolute;
}

.party-mode h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.party-mode .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.party-mode .controls button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.party-mode .controls button:hover {
    background-color: #0056b3;
}

.party-mode .playlist {
    display: flex;
    flex-direction: column;
}

.party-mode .playlist .song-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.party-mode .playlist .song-item img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 15px;
}

.party-mode .playlist .song-item .details {
    flex: 1;
}

.party-mode .playlist .song-item .details h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.party-mode .playlist .song-item .details p {
    font-size: 14px;
    color: #666;
}

.party-mode .playlist .song-item .actions {
    display: flex;
    align-items: center;
}

.party-mode .playlist .song-item .actions button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.party-mode .playlist .song-item .actions button:hover {
    background-color: #0056b3;
}

.party-mode>button{
    background-color: #121212;
}
